{% extends 'products/base.html' %}
{% load static %}
{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Page Content -->
<section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <!--        Информационное сообщение-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">{{ header_h1 }}</h1>
                <p>
                    {{ content_body }}
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products' %}">
                        {{ products_link }}
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>

{% endblock %}